# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_USER=wordpress
MYSQL_PASSWORD=changeme

# Redis
REDIS_PASSWORD=changeme
REDIS_URL=redis://:changeme@redis:6379

# Node
NODE_ENV=production
SESSION_SECRET=changeme

# Certbot
CERTBOT_EMAIL=your@email.com
